.vacation-title {
    text-align:center;
    margin: 0 auto;
    max-width:600px;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 25px;

}

.map img {
    width:100%
  }