
.footer-container {
    background: #48a4c4;
    color:white;

}

.footer-logo {
    font-size:13px;
    margin-bottom: 12px;
}

.icons {
    margin-bottom:12px;
}

.footer-box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.3px solid white;
    padding: 75px 45px;
    border-radius: 20px;
    margin-bottom: 31px;
}

.footer-des {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 20px
}

.footer-box2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid white;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.footer-box-des {
    display: flex;
    flex-direction: column;
    flex-basis:60%;
}

.footer-app {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: space-between;
    
}

.footer-pages ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.store-buttons button {
    display: flex;
    background: black;
    color: white;
    width:100%;
    gap:12px;
    border: 1px solid white;
    border-radius: 6px;
    padding:4px 7px;
}

.store-buttons {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

.contents {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn-p1 {
    font-size: 8px;
}
.btn-p2 {
    font-size: 16px;
}

.p-tag {
    font-size :20px;
}
.h4 {
    font-size :36px;
}

.sign-up {
    max-width: 250px;
    padding: 10px 30px;
    font-size: 16px;
    color:white;
    background: transparent;
    border:0.5px solid white;
    border-radius:10px
}

.sign-in {
    max-width: 250px;
    padding: 10px 30px;
    font-size: 16px;
    color: #48a4c4;
    background:white;
    border:0.5px solid white;
    border-radius:10px
}

.left {
    display: flex;
    gap: 20px;
}