/* index */

:root {
  --primary-color:#42A7C3;
  --secondary-color:#636363;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type:none;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
  background-image: url(../public/images/main/top-view-small-plane-with-copy-space.jpg);
  background-size: 100% 720px;
  background-repeat: no-repeat;
  background-position: top;


}
.container {
  max-width: 1335px;
  margin:0 auto;
}

.store-buttons button {
  display: flex;
  background: black;
  color: white;
  width:100%;
  gap:12px;
  border: 1px solid white;
  border-radius: 6px;
  padding:4px 7px;
}

.store-buttons {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.p-tag {
  font-size :20px;
  color: var(--secondary-color);
}
.h4 {
  font-size :36px;
}