/* index */

:root {
  --primary-color:#42A7C3;
  --secondary-color:#636363;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type:none;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #f6faff 0%, #ffffff 100%);
  background-image: url(../public/images/main/top-view-small-plane-with-copy-space.jpg);
  background-size: 100% 720px;
  background-repeat: no-repeat;
  background-position: top;


}
.container {
  max-width: 1335px;
  margin:0 auto;
}

/* ## navbar */

nav{
  background: linear-gradient(to bottom, #e1f4ff 46%, #f6faff 100%); 
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
 
}
 .nav-logo {
  font-size: 20px;
  color: var(--primary-color);
 }

.nav-pages > ul{
  display: flex;
  gap:12rem;
}

#banner-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.popular-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
}
.button {
  padding: 6px 28px;
  font-size: 13px;
  border-radius: 9px;
  color: white;
  background-color: #FA8443;
  border: #FA8443;
}







.map img {
  width:100%
}



/* # banner */

.banner-des  h2 {
  font-size: 56px;
  margin-bottom: 40px;
}

.banner-des  p {
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--secondary-color);
}

.left-banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-banner1 {
  max-width:650px;
  min-height:650px;
}

.right-banner1 img {
  width:100%;
  padding-top: 38px;
}