:root {

}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type:none;
}

body  {
  

}

.container {
  max-width: 1390px;
  margin:0 auto;
}

/* ## navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.nav-pages > ul{
  display: flex;
  gap:12rem;
}

#banner-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.popular-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
}

#choose-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.flight {
  display: flex;
  align-items: center;
}

.choose-title {
 margin-bottom: 3.5em;
}


.map img {
  width:100%
}



/* # banner */

.banner-des  h2 {
  font-size: 56px;
  margin-bottom: 40px;
}

.banner-des  p {
  font-size: 16px;
  margin-bottom: 40px;
}

.left-banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-banner1 {
  max-width:650px;
  min-height:650px;
}

.right-banner1 img {
  width:100%
}